/* universal styles */
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

header .desktop-nav {
  padding-right: 1.5rem;
}

.desktop-nav a {
  text-decoration: none;
  padding-left: 1rem;
  color: black;
}
.desktop-nav a:hover {
  color: #F49F24;
  transition: 1s linear;
}
.header-name {
  color: #19818D;
}

.mobile-nav {
  display: none;
}

/* body */

.container {
  display: flex;
  align-items: center;
}

.first {
  background-color: #128F8E;
  top: 4rem;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}

.left img {
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right h1 {
  font-size: 2.75rem;
  line-height: 0.95;
  padding-bottom: 1.5rem;
}

.right p {
  line-height: 1;
  padding-bottom: 1.5rem;
}

.right .button {
  text-align: center;
  background-color: #F3B736;
  width: 40%;
  color: #F6F5F3;
  padding: 0.5rem 0;
}
.right .button:hover {
  font-size: 1.5rem;
  transition: font-size 1s linear;
}
.second {
  background-color: #F6F5F3;
}
.second .left h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.second .left p {
  padding-bottom: 1.5rem;
}
.second .left h4 {
  font-size: 0.95rem;
}

.second .right {
  align-self: flex-start;
  padding-top: 0.5rem;
}
.sidebar {
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar img {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.sidebar .content {
  text-align: left;
  width: 65%;
  line-height: 1.3;
}

.sidebar:last-child{
  background-color: #128F8E;
}

.content h3{
  font-size: 1.4rem;
}

.content a {
  text-decoration: none;
  color: #F49F24;
}
.content a:hover {
  font-weight: bold;
}

.left video {
  width: 100%;
}

.third {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #128F8E;
  padding: 2rem 5rem;
}

.courses {
  display: flex;
  justify-content: center;
}

.course-info {
  width: 45%;
  padding-bottom: 24px;
  background-color: white;
  margin: 2rem 2rem;
}

.image img {
  width: 100%;
  height: auto;
}

.course-info .content {
  padding-left: 1rem;
}

.course-info .content h3{
  padding-top: 1rem;
  color: #19818D;
  font-weight: bold;
}

.course-info .content h5{
  padding: 0.5rem 0;
  color: #F3B736;
}

.title {
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.fourth .left h1 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.video {
  padding-bottom: 1.5rem;
}

.fourth .left p {
  padding-bottom: 2rem;
}

.fourth .right {
  align-self: flex-start;
  padding-top: 1.5rem;
}

.thesis {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#mobile-img {
  display: none;
}
/* footer */
footer {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  justify-content: space-between;
  height: 4rem;
}

footer nav {
  padding-right: 1rem;
}


/* for mobile version */
@media only screen and (max-width: 625px) {
  /* these items will not be displayed */
  .desktop-nav, .logo, .second .left h1, .second .left p, .second .left h4, .second .left img, .course-info img, .course-info h5, .course-info p,
  .fourth .left h1, .fourth .left p, .fourth .left h1, .fourth .right img, .fourth .right h3 , .fourth .right span, footer nav {
    display: none;
  }

  /* nav bar for mobile version */
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .first .left {
    padding-top: 0;
  }
  .left, .right, .left img {
    width: 100%;
    align-items: flex-start;
  }

  .button {
    width: 70%;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .right h1 , .right p{
    padding-left: 1rem;
  }

  .second .right {
    padding-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar img {
    width: 35%;
    height: auto;
  }

  .sidebar .content {
    text-align: left;
    width: 65%;
    line-height: 1.3;
    padding-left: 1rem;
  }

  .sidebar {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
  }

  .desktop  {
    display: none;
  }

  .sidebar #mobile-img {
    display: block;
    width: 90%;
  }

  .content p {
    font-size: 1rem;
  }

  .third {
    padding: 2rem 0 2rem 0;
  }

  .courses {
    flex-direction: column;
    width: 100%;
  }

  .course-info {
    margin-bottom: 8px;
    width: 90%;
  }

  .thesis, .fourth, .sidebar:last-child {
    background-color: #F6F5F3;
  }
  .third {
    background-color: #F3B736;
  }
}
